{port_sources, ["c_src/binding.c", "c_src/tweetnacl.c"]}.
{so_name, "tweetnacl.so"}.

{port_envs, [
    %{"CFLAGS", "-Wall $CFLAGS -Inacl-20110221/build/valhalla/include/x86"},
    %{"LIBRARY_PATH", "nacl-20110221/build/valhalla/lib/x86/"},
    %% Static linking to simplify distribution, if not compilation
    %{"LDFLAGS", "$LDFLAGS -static -lnacl"},
    {"LDFLAGS", "$LDFLAGS -lssl"},


    %% Make sure to link -lstdc++ on linux or solaris
    {"(linux|solaris)", "LDFLAGS", "$LDFLAGS -lstdc++"},

    %% OS X Leopard flags for 64-bit
    {"darwin9.*-64$", "CXXFLAGS", "-m64"},
    {"darwin9.*-64$", "LDFLAGS", "-arch x86_64"},

    %% OS X Snow Leopard flags for 32-bit
    {"darwin10.*-32$", "CXXFLAGS", "-m32"},
    {"darwin10.*-32$", "LDFLAGS", "-arch i386"}
]}.
